.fengcheh5{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-image: url("../img/timg.jpg");
    background-size: cover;
}
.hongbao{
    width: 100px;
    height: 100px;
    background-image: url("../img/hongbao.gif");
    background-size: cover;
}
#warp{
    .btn{
        background-color: red;
        transform: rotate(350deg);
        transition: transform;
        display: flex;
    }
}
.aaaa{                 /* 冗余css */
    color: black;     
}

.bbbb{                 /* 冗余css */
    width: 50px;
    height: 50px;
    background: yellow;
}

#barrage-input-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #dedede;
    z-index: 1;
    padding: 5px 20px;
    #barrage-input{
        width: 80%;
        height: 30px;
    }
    #barrage-button{
        color: #000;
        width: 15%;
        padding: 8px;
        background-color: #ff4e4ed4;
    }
    
}